body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #855141;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: black;
}

h2 {
    font-size: 1.0em;
    color: black;
}

h3 {
    font-size: 0.90em;
}

.buttons {
    margin-top: 20px;
}

.button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #d32f2f;
    text-align: center;
}

/* Roles */

#Rolelist {
  background-color: #343e52;
  width: 600px;
  max-width: 90%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
}

#Rolelist .Townsfolk {
    color: #4caf50;
}

#Rolelist .Werewolf {
    color: #d32f2f;
}